/* =================================
    Font Stack Reminder
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Roboto', sans-serif;
================================= */

/* =================================
    Base Element Styles
================================= */

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    text-align: center;
}

body,
a {
    color: #333;
}

h1 {
    padding: 20px;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

img {
    width: 90vw;
}

/* =================================
    Base Layout Styles
================================= */

/* ==== Navigation ==== */

.main-nav {
    padding: 0;
    margin: 0;
}

.main-nav li {
    list-style-type: none;
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: #fff;
}

.main-nav a {
    font: 700 .9rem "Roboto", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

/* ==== Layout Containers ==== */

.wrapper,
main {
    margin: 0 5vw;
}

/* ==== Page Elements ==== */

.main-header,
.main-footer {
    background-color: #f6f6f6;
}

.profile-image {
    width: 65%;
    margin-top: 40px;
}

.intro p {
    padding: 1.25rem 0;
    margin: 0;
    font: 300 1rem/1.5 "Roboto", sans-serif;
    color: #666;
}

/* =================================
    Media Queries
================================= */

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}