/* =================================
    Font Stack Reminder
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Roboto', sans-serif;
================================= */

/* =================================
    Base Element Styles
================================= */

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    text-align: center;
}

body,
a {
    color: #333;
}

h1 {
    padding: 20px;
    margin: 0;
    font: 1.6rem "Comfortaa", sans-serif;
}

h2 {
    margin: 40px 0;
}

h3 {
    margin: 20px 0;
    font: 400 1.2rem "Roboto", sans-serif;
}

img {
    max-width: 90%;
}

p {
    margin-bottom: 30px;
    font: 300 .95rem/1.5 "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

a,
h2 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}

footer {
    border-top: 2px solid #303;
    padding: 0 5%;
}

footer p,
footer a,
.secondary-nav {
    padding: 30px 0;
    margin: 0;
    font: 700 .9rem "Roboto", sans-serif;
    color: #ccc;
}

/* =================================
    Base Layout Styles
================================= */

/* ==== Navigation ==== */

.main-nav,
.contact-info {
    padding: 0;
    margin: 0;
}

.main-nav li {
    padding: 10px 0;
    margin-bottom: 5px;
}

.main-nav a {
    color: #ccc;
}

.main-nav a,
h2 {
    font: 700 .9rem "Roboto", sans-serif;
}

.secondary-nav {
    display: none;
    margin-left: 0;
}

.secondary-nav a {
    margin-right: 0;
    padding-left: 20px;
}

/* ==== Layout Containers ==== */

.wrapper,
main {
    margin: 0 5vw;
}

.main-footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #303;
}

.hidden-big {
    order: 1;
}

/* ==== Page Elements ==== */

.main-header {
    border-bottom: 2px solid #303;
    background-color: #303;
    color: #ccc;
}

.profile-image {
    max-width: 65%;
    margin-top: 40px;
    border-radius: 50%;
}

.portfolio-item img {
    border-radius: 20px 0;
}

.contact-info li {
    padding-bottom: 20px;
}

.contact-info strong {
    margin-left: 10px;
}

#contact p {
    padding: 1.25rem 0;
}

.intro p {
    padding: 1.25rem 5%;
    color: rgba(204, 204, 204, .8);
}

.intro p,
#contact p {
    margin: 0;
}

.intro p,
#contact p,
.contact-info li {
    font: 300 1rem/1.5 "Roboto", sans-serif;
}

#contact p,
.contact-info li {
    color: rgba(102, 102, 102, .8);
}

#contact {
    margin: 100px 0;
}

#contact h2 {
    margin-bottom: 20px;
}

/* =================================
    Media Queries
================================= */

@media screen and (min-width: 768px) {
    .main-header,
    .main-nav,
    .secondary-nav,
    .wrapper,
    .intro,
    #portfolio,
    .portfolio-wrapper {
        display: flex;
    }

    .main-header,
    .wrapper,
    #portfolio {
        flex-direction: column;
    }

    .main-header {
        padding-top: 40px;
        align-items: center;
    }

    .nav-wrapper {
        background-color: rgba(255, 255, 255, .8);
        width: 100vw;
    }

    .main-nav {
        width: 40%;
        margin: 0 auto;
        flex: 1;
        justify-content: space-between;
    }

    .main-nav a {
        color: #333;
    }

    .intro {
        width: 100vw;
        padding: 0 5%;
        margin: 40px 0;
    }

    .intro p {
        text-align: left;
    }

    .intro p,
    #contact p,
    .contact-info li {
        flex: 2;
        font-size: 1.3rem;
    }

    .profile-image{
        width: 40%;
        margin: 0;
        flex: 1;
        order: 1;
        align-self: center;
    }

    .intro p,
    .profile-image {
        margin: 0 10px;
    }

    .portfolio-wrapper {
        flex-wrap: wrap;
    }

    .portfolio-item {
        flex: 1 50%;
    }

    .portfolio-item p {
        padding: 0 40px;
        margin-bottom: 60px;
    }

    .main-footer {
        height: 125px;
    }

    .hidden-big {
        display: none;
        order: 0;
    }

    .secondary-nav {
        order: 1;
    }
}

@media screen and (min-width: 1024px) {
    h2 {
        margin: 80px 0 60px;
    }

    .nav-wrapper {
        width: auto;
    }

    .nav-wrapper,
    .main-nav li {
        background-color: #303;
    }

    .main-nav {
        margin-left: 0;
    }

    .main-nav li {
        padding-left: 40px;
    }

    .main-nav a {
        color: #ccc;
    }

    .wrapper {
        width: 100vw;
        padding: 0 5%;
        flex-direction: row;
        flex: 1 50%;
        justify-content: space-between;
        align-items: center;
    }

    .portfolio-item {
        flex-basis: 30%;
    }

    #contact {
        margin-top: 0;
    }

    #contact p {
        width: 50vw;
        margin: 0 auto;
    }

    .main-footer {
        height: auto;
    }
}