/* =================================
    Font Stack Reminder
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Roboto', sans-serif;
================================= */

/* =================================
    Base Element Styles
================================= */

* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    text-align: center;
}

body,
a {
    color: #333;
}

h1 {
    padding: 20px;
    margin: 0;
    font-family: "Comfortaa", sans-serif;
}

h2 {
    margin: 40px 0;
}

h3 {
    margin: 20px 0;
    font: 400 1.2rem "Roboto", sans-serif;
}

img {
    width: 90vw;
}

p {
    margin-bottom: 30px;
    font: 300 .95rem/1.5 "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

a,
h2 {
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
}

footer {
    border-top: 2px solid #e0e0e0;
}

footer p,
footer a {
    margin: 30px 20px;
    font: 700 .9rem "Roboto", sans-serif;
}

/* =================================
    Base Layout Styles
================================= */

/* ==== Navigation ==== */

.main-nav,
.contact-info {
    padding: 0;
    margin: 0;
}

.main-nav li {
    padding: 10px 0;
    margin-bottom: 5px;
    background-color: #fff;
}

.main-nav a,
h2 {
    font: 700 .9rem "Roboto", sans-serif;
}

/* ==== Layout Containers ==== */

.wrapper,
main {
    margin: 0 5vw;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

/* ==== Page Elements ==== */

.main-header,
.main-footer {
    background-color: #f6f6f6;
}

.profile-image {
    max-width: 65%;
    margin-top: 40px;
}

.contact-info li {
    padding-bottom: 20px;
}

.contact-info strong {
    margin-left: 10px;
}

.intro p,
#contact p {
    padding: 1.25rem 0;
    margin: 0;
}

.intro p,
#contact p,
.contact-info li {
    font: 300 1rem/1.5 "Roboto", sans-serif;
    color: #666;
}

#contact {
    margin: 100px 0;
}

#contact h2 {
    margin-bottom: 20px;
}

/* =================================
    Media Queries
================================= */

@media screen and (min-width: 768px) {
    .main-header,
    .main-nav,
    .intro {
        display: flex;
    }

    .main-header {
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
    }

    .nav-wrapper {
        background-color: #fff;
    }

    .main-nav {
        width: 40%;
        margin: 0 auto;
        flex: 1;
        justify-content: space-between;
    }

    .intro {
        width: 100vw;
        padding: 0 5%;
        margin: 40px 0;
    }

    .intro p {
        flex: 2;
        font-size: 1.3rem;
        text-align: left;
    }

    .profile-image{
        width: 40%;
        margin: 0;
        flex: 1;
        order: 1;
        align-self: center;
    }

    .intro p,
    .profile-image {
        margin: 0 10px;
    }
}

@media screen and (min-width: 1024px) {

}